<div class="carousel">
    {{#if_eq current "1"}}
        {{> carouselItem current=true parameter=parameter position=1 element=this.[0]}}
    {{else}}
        {{> carouselItem current=false parameter=parameter position=1 element=this.[0]}}
    {{/if_eq}}

    {{#if_eq current "2"}}
        {{> carouselItem current=true parameter=parameter position=2 element=this.[1]}}
    {{else}}
        {{> carouselItem current=false parameter=parameter position=2 element=this.[1]}}
    {{/if_eq}}

    {{#if_eq current "3"}}
        {{> carouselItem current=true parameter=parameter position=3 element=this.[2]}}
    {{else}}
        {{> carouselItem current=false parameter=parameter position=3 element=this.[2]}}
    {{/if_eq}}

    {{#if_eq current "4"}}
        {{> carouselItem current=true parameter=parameter position=4 element=this.[3]}}
    {{else}}
        {{> carouselItem current=false parameter=parameter position=4 element=this.[3]}}
    {{/if_eq}}

    {{#if_eq current "5"}}
        {{> carouselItem current=true parameter=parameter position=5 element=this.[4]}}
    {{else}}
        {{> carouselItem current=false parameter=parameter position=5 element=this.[4]}}
    {{/if_eq}}

    {{#if_eq current "6"}}
        {{> carouselItem current=true parameter=parameter position=6 element=this.[5]}}
    {{else}}
        {{> carouselItem current=false parameter=parameter position=6 element=this.[5]}}
    {{/if_eq}}

    {{#if_eq current "7"}}
        {{> carouselItem current=true parameter=parameter position=7 element=this.[6]}}
    {{else}}
        {{> carouselItem current=false parameter=parameter position=7 element=this.[6]}}
    {{/if_eq}}

    {{#if_eq current "8"}}
        {{> carouselItem current=true parameter=parameter position=8 element=this.[7]}}
    {{else}}
        {{> carouselItem current=false parameter=parameter position=8 element=this.[7]}}
    {{/if_eq}}

    {{#if_eq current "9"}}
        {{> carouselItem current=true parameter=parameter position=9 element=this.[8]}}
    {{else}}
        {{> carouselItem current=false parameter=parameter position=9 element=this.[8]}}
    {{/if_eq}}

    {{#if_eq current "10"}}
        {{> carouselItem current=true parameter=parameter position=10 element=this.[9]}}
    {{else}}
        {{> carouselItem current=false parameter=parameter position=10 element=this.[9]}}
    {{/if_eq}}
</div>